# General Python Cheetsheet (for now anyway)

In [1]:
num = 12

In [2]:
name = "Mert"

In [3]:
'My number is {} and my name is {}'.format(num, name)

'My number is 12 and my name is Mert'

In [4]:
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is Mert

In [5]:
'My number is {var1} and my name is {var2}'.format(var1 = num, var2 = name)

'My number is 12 and my name is Mert'

In [6]:
'A nice way to use the functionality above is that {var1} can use that as many times as {var1} want.'.format(var1 = "we")

'A nice way to use the functionality above is that we can use that as many times as we want.'

# Indexing

In [7]:
word = 'hello'

In [8]:
word[0]

'h'

In [9]:
word2 = 'bilkentuniversity'

In [10]:
word2[0]

'b'

In [11]:
word2[5]

'n'

In [12]:
word2[0:]

'bilkentuniversity'

In [13]:
word2[5:]

'ntuniversity'

In [14]:
word2[:5]

'bilke'

In [15]:
word2[5:8]

'ntu'

# Lists

In [16]:
[1,2,3]

[1, 2, 3]

In [17]:
['a', 'b', 'c']

['a', 'b', 'c']

In [18]:
my_list = ['a', 'b', 'c']

In [19]:
# To add an element at the end of my list
my_list.append('d')

In [20]:
my_list

['a', 'b', 'c', 'd']

In [23]:
# A list is also a sequence just like a string is.
my_list[0]

'a'

In [24]:
# Be careful with the indexing! Below 3 means up to the 3rd element, note that 3rd element itself is not included!
my_list[1:3]

['b', 'c']

In [28]:
# We can also reassign different values by using indexing notation.
my_list[0] = 'NEW'

In [29]:
my_list

['NEW', 'b', 'c', 'd']

In [30]:
# IMPORTANT! You can nest lists inside of each other.
nest = [1,2,[3,4]]

In [31]:
nest

[1, 2, [3, 4]]

In [32]:
# To reach 4 in the above nested lists:
nest[2][1]

4

# Dictionaries

In [34]:
# Dictionaries behave as key-value pairs, just like a hash table.
d = {'key1':'value', 'key2':123}

In [35]:
# The following results in an error:
d[0]

KeyError: 0

In [36]:
# For example, if we want to get the number 123, we would call our dictionary and pass in the key value 
# that correcponds to the number 123.
d['key2']

123

In [37]:
# Dictionaries can basically take any item as their values.
d = {'key1':[1, 2, 3]}

In [38]:
d

{'key1': [1, 2, 3]}

In [39]:
d['key1'][1]

2

In [40]:
my_list = d['key1']

In [41]:
my_list

[1, 2, 3]

In [42]:
# We can have a dictionary nested inside of another dictionary.
d = {'key1':{'inner_key':[1,2,3]}}

In [43]:
# If we want to get the number 2, we would do:
d['key1']['inner_key'][1]

2

# Tuples

In [47]:
t = (1, 2, 3)

In [48]:
t[0]

1

In [50]:
# The key difference between a tuples and a list:
# With lists, we can reassign its values using indexing notation as such:
my_list = [1, 2, 3]
print(my_list)
my_list[0] = 'NEW'
print(my_list)

[1, 2, 3]
['NEW', 2, 3]

In [51]:
# But with tuples, when we try to do the same task, we get an error:
my_tuple = (1, 2, 3)
print(my_tuple)
my_tuple[0] = 'NEW'

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [52]:
# This is because tuples are IMMUTABLE. And they do not support item assignment.

Which means we are going to want to use a tuple when we want to make sure that a user can't change the items inside of a sequence of objects.

In [53]:
# You can change the items inside of a list.
# You CAN'T change the items inside of a tuple.

# Sets

In [54]:
{1,2,3}

{1, 2, 3}

In [55]:
{1,1,1,2,2,3,3,3,3}

{1, 2, 3}

In [56]:
# This is because a set is defined by only unique elements!

In [57]:
# And in fact, we can call the set() function to get the unique elements in a list as such:
set([1,2,2,4,4,4,4,5,5,7,9,9,9])

{1, 2, 4, 5, 7, 9}

If we want to add an item to a set, we would do:

In [58]:
s = {1, 2, 3}

In [59]:
s.add(5)

In [60]:
s

{1, 2, 3, 5}

In [61]:
# If we try to add 5 again, it won't throw an error, but it'll keep it the same.
print(s)
s.add(5)
print(s)

{1, 2, 3, 5}
{1, 2, 3, 5}

# Comparison Operators

In [62]:
1 > 2

False

In [63]:
1 < 2

True

In [64]:
'hi' == 'bye'

False

In [65]:
'hi' != 'bye'

True

In [66]:
1 < 2 and 2 < 3

True

In [67]:
1 < 2 and 2 > 3

False

In [68]:
1 < 2 or 2 > 3

True

# Conditionals

In [69]:
if 1 < 2:
    print('yep!')

yep!

In [70]:
if True:
    print('Perform Code')

Perform Code

In [71]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [73]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

ELSE is only executed when NONE of the conditions before it were true.

In [74]:
if 1 == 2:
    print('first')
elif 2 == 2:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('last')

second

The first true condition is being executed and nothing else!

# For and While Loops

In [1]:
seq = [1,2,3,4,5]

In [2]:
for item in seq:
    print(item)

1
2
3
4
5

In [5]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [6]:
range(0,5)

range(0, 5)

In [8]:
for num in range(0,6):
    print(num ** 2)

0
1
4
9
16
25

In [9]:
# If we want that range in a list format
list(range(0,16))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Comprehension

In [12]:
x = [1, 2, 3, 4]
out = []

for num in x:
    out.append(num ** 2)
    
print(out)

[1, 4, 9, 16]

In [14]:
# Python has its own way of doing this operation, since it is used frequently.

In [15]:
[num ** 2 for num in x]

[1, 4, 9, 16]

In [20]:
out = [num ** 2 for num in range(11)]

In [21]:
out

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Functions

In [22]:
def my_func(param1):
    print(param1)

In [23]:
my_func('hello')

hello

In [26]:
def my_func2(name):
    print('Hello ' + name)

In [27]:
my_func2('Mert')

Hello Mert

In [28]:
# If we want to assign a default value for the parameters inside of the function:
def my_func3(name='NoName'):
    print('Hello ' + name)

In [29]:
my_func3()

Hello NoName

In [30]:
my_func3('Silva')

Hello Silva

In [32]:
# Functions that return some value/information
def square(num):
    return num ** 2

In [33]:
output = square(5)

In [34]:
output

25

In [38]:
# Functions can have documentation strings
def some_function(param):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION TAKES A PARAMETER AND RETURNS ITS CUBE.
    """
    return param ** 3

In [39]:
out = some_function(2)

In [40]:
out

8

In [41]:
# To see the DOCSTRING, use Jupyter Notebook's Shift+TAB after writing the function's name.
some_function

# map() function

In [42]:
seq = [1, 2, 3, 4, 5]

In [43]:
def times2(var):
    return var * 2

In [44]:
# If we want to multiple every number in seq by 2, we could use a for loop
# However, python has a specific function called map()

map(times2, seq)

In [45]:
# If we actually want to execute that map and get the result as a list
list(map(times2, seq))

[2, 4, 6, 8, 10]

# Lambda Expressions

In [46]:
# Note that when we re-write the function times2 as following, it still works

def times2(var): return var * 2

In [47]:
# A lambda expression would try to replicate the structure above except its going to remove words that we don't need.
lambda var:var*2

In [48]:
t = lambda var : var * 2

In [49]:
t(6) #We usually wouldn't use a lambda expression like this though.

12

In [50]:
seq = [1,2,3,4,5]

In [52]:
list(map(lambda num : num * 5, seq))

[5, 10, 15, 20, 25]

# Filter function

In [53]:
seq = [1,2,3,4,5]

filter(lambda num : num % 2 == 0, seq)

In [54]:
list(filter(lambda num : num % 2 == 0, seq))

[2, 4]

In [55]:
# filter() function MUST take a function or a lambda expression that returns a boolean value!

# Methods

In [56]:
s = 'This is just a RANDOM string.'

In [57]:
s.lower()

'this is just a random string.'

In [58]:
s.upper()

'THIS IS JUST A RANDOM STRING.'

In [59]:
s.split()

['This', 'is', 'just', 'a', 'RANDOM', 'string.']

In [64]:
# The recent tweet from Donald Trump's twitter acount.
tweet = "It was announced today by the U.S. Treasury that additional large scale Sanctions would be added to those already..."

In [65]:
tweet.split()

['It',
 'was',
 'announced',
 'today',
 'by',
 'the',
 'U.S.',
 'Treasury',
 'that',
 'additional',
 'large',
 'scale',
 'Sanctions',
 'would',
 'be',
 'added',
 'to',
 'those',
 'already...']

In [66]:
# We can give a parameter to the split() method
tweet.split('U.S.')

['It was announced today by the ',
 ' Treasury that additional large scale Sanctions would be added to those already...']

In [67]:
# A good idea. If we want to extract hashtags from tweet streams, we could do the following.
hashtag_tweet = "King cancels scheduled visit to #Romania over plans to move its embassy to #Jerusalem"

In [85]:
hashtag_tweet.split('#')

['King cancels scheduled visit to ',
 'Romania over plans to move its embassy to ',
 'Jerusalem']

In [88]:
hashtag_tweet.split('#')[1].split()[0]

'Romania'

In [89]:
hashtag_tweet.split('#')[2].split()[0]

'Jerusalem'

In [90]:
d = {'key1':1, 'key2':2}

In [91]:
d

{'key1': 1, 'key2': 2}

In [92]:
d.keys()

dict_keys(['key1', 'key2'])

In [93]:
d.items()

dict_items([('key1', 1), ('key2', 2)])

In [94]:
d.values()

dict_values([1, 2])

In [95]:
list = [1,2,3]

In [96]:
list.pop()

3

In [97]:
list

[1, 2]

In [111]:
list = [1,2,3,4,5]

In [112]:
item = list.pop()

In [113]:
list

[1, 2, 3, 4]

In [114]:
# We can pop any item in the list by specifiying the index
first = list.pop(0)

In [115]:
first

1

In [116]:
list

[2, 3, 4]

In [117]:
list.append('NEW')

In [118]:
list

[2, 3, 4, 'NEW']

In [119]:
# If we want to check whether something is inside of a list
'x' in [1,2,3]

False

In [120]:
'x' in ['x', 'y', 'z']

True

# Tuple Unpacking

In [121]:
x = [(1,2),(3,4),(5,6)]

In [122]:
x

[(1, 2), (3, 4), (5, 6)]

In [123]:
x[0]

(1, 2)

In [124]:
x[0][0]

1

Tuple unpacking

In [125]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

It just prints items. But we don't want that.

In [128]:
for (a,b) in x:
    print(a) # So we unpacked the tuple

1
3
5